<div class="callback">
	<div class="callback__decoration-img">
		<img data-src="./img/webp/callback-decoration.webp" alt="img" class="lazy" />
	</div>
	<div class="container">
		<div class="callback__wrapper">
			<div class="row middle-lg">
				<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
					<div class="section-uptitle_smaller">оставьте заявку</div>
					<div class="section-title_smaller">получите бесплатную консультацию</div>
				</div>
				<div class="col-lg-5 ol-md-12 col-sm-12 col-xs-12">
					<form action="" class="callback__form">
						<div class="input input_gradient">
							<input type="text" placeholder="Ваше имя *" />
						</div>
						<div class="input input_gradient">
							<input type="tel" placeholder="+38 000 000 00 00" />
						</div>
						<button type="submit" class="btn-primary btn-red btn-size-4">Оставить заявку</button>
						<div class="callback__form-caption">
							Нажимая на кнопку, Вы принимаете условия пользовательского соглашения и даете согласие на обработку ваших персональных данных
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
