<div class="comments">
	<div class="container">
		<div class="section-title">отзывы (2)</div>
		<div class="comments__item">
			<div class="comments__item-heading">
				<div class="stars">
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item stars__item_empty">
		<svg><use href="./img/sprite.svg#star_empty"></use></svg>
	</div>
</div>

				<div class="comments__item-name">Ирина</div>
				<div class="comments__item-date">(15.08.2021)</div>
			</div>
			<div class="comments__item-text">
				Всем привет! После аварии в июне я задалась вопросом о покупке нового шлема. Так денег был не особо много, решила взять довольно
				бюджетный вариант
			</div>
		</div>
		<div class="comments__item">
			<div class="comments__item-heading">
				<div class="stars">
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item stars__item_empty">
		<svg><use href="./img/sprite.svg#star_empty"></use></svg>
	</div>
</div>

				<div class="comments__item-name">Ирина</div>
				<div class="comments__item-date">(15.08.2021)</div>
			</div>
			<div class="comments__item-text">
				Всем привет! После аварии в июне я задалась вопросом о покупке нового шлема. Так денег был не особо много, решила взять довольно
				бюджетный вариант
			</div>
		</div>
		<div class="comments__item comments__item_reply">
			<div class="comments__item-heading">
				<div class="comments__item-name comments__item-name_reply">Менеджер MotoYard</div>
				<div class="comments__item-date">(16.08.2021)</div>
			</div>
			<div class="comments__item-text">Спасибо за отзыв! Будем рады помочь, в подборе новой экипировки и мотоцикла в вашем гараже!</div>
		</div>
	</div>
</div>
