<div class="faq">
	<div class="section-decoration-title">Ответы</div>
	<div class="container">
		<div class="section-uptitle">Вопрос</div>
		<div class="section-title">Ответ</div>

		<div class="faq-item">
			<div class="faq-item__question">Как купить мотоцикл у нас?</div>
			<button class="faq-item__toggle js-toggle">
				<span></span>
				<span></span>
			</button>
			<div class="faq-item__answer">
				<ul>
					<li>
						предоплата в размере 500 $ от стоимости ТС на карточный счет, либо любым другим удобным для покупателя методом, обговаривается
						индивидуально
					</li>
					<li>
						окончательный расчет, наложенный платеж при получении (либо любым другим удобным для покупателя методом, обговаривается
						индивидуально)
					</li>
				</ul>
				<p>
					В стоимость мотоцикла входит весь необходимый пакет документов, для оформления мотоцикла в дальнейшем в МРЭО, для этого покупателю
					необходимо выслать следующие документы будущего владельца ТС на нашу почту motoyard.com.ua@gmail.com
				</p>
				<ul>
					<li>скан копия всех страниц паспорта (полный разворот) включая прописку</li>
					<li>скан копия идентификационного кода</li>
					<li>прописать в тексте письма прописку на украинском языке</li>
				</ul>
			</div>
		</div>
		<div class="faq-item">
			<div class="faq-item__question">Какие марку мотоцикла выбрать?</div>
			<button class="faq-item__toggle js-toggle">
				<span></span>
				<span></span>
			</button>
			<div class="faq-item__answer">
				<ul>
					<li>
						предоплата в размере 500 $ от стоимости ТС на карточный счет, либо любым другим удобным для покупателя методом, обговаривается
						индивидуально
					</li>
					<li>
						окончательный расчет, наложенный платеж при получении (либо любым другим удобным для покупателя методом, обговаривается
						индивидуально)
					</li>
				</ul>
				<p>
					В стоимость мотоцикла входит весь необходимый пакет документов, для оформления мотоцикла в дальнейшем в МРЭО, для этого покупателю
					необходимо выслать следующие документы будущего владельца ТС на нашу почту motoyard.com.ua@gmail.com
				</p>
				<ul>
					<li>скан копия всех страниц паспорта (полный разворот) включая прописку</li>
					<li>скан копия идентификационного кода</li>
					<li>прописать в тексте письма прописку на украинском языке</li>
				</ul>
			</div>
		</div>
		<div class="faq-item">
			<div class="faq-item__question">Оплата мотоциклов</div>
			<button class="faq-item__toggle js-toggle">
				<span></span>
				<span></span>
			</button>
			<div class="faq-item__answer">
				<ul>
					<li>
						предоплата в размере 500 $ от стоимости ТС на карточный счет, либо любым другим удобным для покупателя методом, обговаривается
						индивидуально
					</li>
					<li>
						окончательный расчет, наложенный платеж при получении (либо любым другим удобным для покупателя методом, обговаривается
						индивидуально)
					</li>
				</ul>
				<p>
					В стоимость мотоцикла входит весь необходимый пакет документов, для оформления мотоцикла в дальнейшем в МРЭО, для этого покупателю
					необходимо выслать следующие документы будущего владельца ТС на нашу почту motoyard.com.ua@gmail.com
				</p>
				<ul>
					<li>скан копия всех страниц паспорта (полный разворот) включая прописку</li>
					<li>скан копия идентификационного кода</li>
					<li>прописать в тексте письма прописку на украинском языке</li>
				</ul>
			</div>
		</div>
		<div class="faq-item">
			<div class="faq-item__question">Какую марку мотоцикла выбрать?</div>
			<button class="faq-item__toggle js-toggle">
				<span></span>
				<span></span>
			</button>
			<div class="faq-item__answer">
				<ul>
					<li>
						предоплата в размере 500 $ от стоимости ТС на карточный счет, либо любым другим удобным для покупателя методом, обговаривается
						индивидуально
					</li>
					<li>
						окончательный расчет, наложенный платеж при получении (либо любым другим удобным для покупателя методом, обговаривается
						индивидуально)
					</li>
				</ul>
				<p>
					В стоимость мотоцикла входит весь необходимый пакет документов, для оформления мотоцикла в дальнейшем в МРЭО, для этого покупателю
					необходимо выслать следующие документы будущего владельца ТС на нашу почту motoyard.com.ua@gmail.com
				</p>
				<ul>
					<li>скан копия всех страниц паспорта (полный разворот) включая прописку</li>
					<li>скан копия идентификационного кода</li>
					<li>прописать в тексте письма прописку на украинском языке</li>
				</ul>
			</div>
		</div>
	</div>
</div>
