<footer class="footer">
	<div class="footer__top">
		<div class="container container_sm">
			<ul class="footer__services">
				<li>
					<a href="./catalog.html" class="footer__services-link">Мотоциклы</a>
				</li>
				<li>
					<a href="./catalog.html" class="footer__services-link">Макси скутера</a>
				</li>
				<li>
					<a href="./catalog.html" class="footer__services-link">Тип Мотоцикла</a>
				</li>
				<li>
					<a href="./catalog.html" class="footer__services-link">Мотоциклы Под заказ</a>
				</li>
				<li>
					<a href="./catalog.html" class="footer__services-link">Распродажа</a>
				</li>
				<li>
					<a href="./catalog.html" class="footer__services-link">Экипировка</a>
				</li>
				<li>
					<a href="./catalog.html" class="footer__services-link">Обслуживание</a>
				</li>
			</ul>
			<a href="#" class="footer__testdrive">Тест-драйв</a>
			<a href="#" class="footer__online">Онлайн осмотр</a>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container container_sm">
			<div class="footer__bottom-wrapper">
				<a href="./index.html" class="logo logo_footer">
					<svg><use href="./img/sprite.svg#logo_black"></use></svg>
				</a>
				<ul class="footer__menu">
					<li><a href="./about.html" class="footer__menu-link">О нас</a></li>
					<li><a href="./blog.html" class="footer__menu-link">Блог</a></li>
					<li><a href="./video-reviews.html" class="footer__menu-link">Видео-обзоры</a></li>
					<li>
						<span class="menu__sticker menu__sticker_red">150+</span>
						<a href="./reviews.html" class="footer__menu-link">Отзывы</a>
					
					</li>
					<li><a href="./delivery-payment.html" class="footer__menu-link">Оплата и доставка</a></li>
					<li><a href="./contacts" class="footer__menu-link">Контакты</a></li>
				</ul>
				<div class="footer__contacts">
					<div class="footer__contacts-icon">
						<svg>
							<use href="./img/sprite.svg#pin_red"></use>
						</svg>
					</div>
					<div class="footer__contacts-text">
						Украина, г. Днепр <br />
						пр-т Александра Поля, 97
					</div>
				</div>

				<div class="footer__callback">
					<a href="#" class="footer__callback-href">+38 (067) 652 28 48 </a>
					<a href="#" class="footer__callback-btn">Заказать звонок</a>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__copyright">
		<div class="container container_sm">
			<div class="footer__copyright-text">© 2014-2021 MotoYard</div>
			<div class="footer__dev">
				Интернет-магазин разработан и <br />
				поддерживается веб-студией 
			</div>
		</div>
	</div>
</footer>

<div class="modal" id="thanks">
	<div class="modal__title">Спасибо!</div>
	<div class="modal__subtitle modal__subtitle_bold">Ваш заказ был принят!</div>
</div>

<div class="modal" id="callback">
	<div class="modal__title modal__title_sm">Обратный звонок</div>
	<div class="modal__subtitle">
		Оставьте ваши данные и наш менеджер <br />
		свяжется с Вами
	</div>

	<form class="modal__form">
		<div class="input input_gradient">
			<input type="text" class="js-placeholder" />
			<label class="input__placeholder">Ваше имя</label>
		</div>
		<div class="input input_gradient">
			<input type="tel" placeholder="+38 000 000 00 00" />
		</div>
		<button class="btn-primary btn-red btn-size-1">Оставить заявку</button>
		<div class="modal__notice">
			Нажимая на кнопку, Вы принимаете условия пользовательского <br />
			соглашения и даете согласие на обработку ваших персональных данных
		</div>
	</form>
</div>

<div class="modal" id="cart">
	<div class="modal__row">
		<div class="modal__cart-img">
			<img src="./img/webp/modal-img.webp" alt="img" />
		</div>
		<div class="modal__cart-text">
			Товар <a href="./product-page.html">Yamaha FZ6 FAZER </a> был успешно <br />
			добавлен в корзину!
		</div>
	</div>
</div>

<div class="modal" id="search">
	<div class="modal__subtitle modal__subtitle_bold modal__subtitle_left">Поиск по сайту</div>
	<form action="" class="modal__search">
		<div class="input input_bottom-border"><input type="text" placeholder="поиск" /></div>
		<button class="btn-search">
			<svg><use href="./img/sprite.svg#search"></use></svg>
		</button>
	</form>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="./css/main.min.css" />
<script src="./js/jquery.min.js"></script>
<script src="./js/app.min.js"></script>
</body>
</html>
