<div class="modal" id="thanks">
	<div class="modal__title">Спасибо!</div>
	<div class="modal__subtitle modal__subtitle_bold">Ваш заказ был принят!</div>
</div>

<div class="modal" id="callback">
	<div class="modal__title modal__title_sm">Обратный звонок</div>
	<div class="modal__subtitle">
		Оставьте ваши данные и наш менеджер <br />
		свяжется с Вами
	</div>

	<form class="modal__form">
		<div class="input input_gradient">
			<input type="text" class="js-placeholder" />
			<label class="input__placeholder">Ваше имя</label>
		</div>
		<div class="input input_gradient">
			<input type="tel" placeholder="+38 000 000 00 00" />
		</div>
		<button class="btn-primary btn-red btn-size-1">Оставить заявку</button>
		<div class="modal__notice">
			Нажимая на кнопку, Вы принимаете условия пользовательского <br />
			соглашения и даете согласие на обработку ваших персональных данных
		</div>
	</form>
</div>

<div class="modal" id="cart">
	<div class="modal__row">
		<div class="modal__cart-img">
			<img src="./img/webp/modal-img.webp" alt="img" />
		</div>
		<div class="modal__cart-text">
			Товар <a href="./product-page.html">Yamaha FZ6 FAZER </a> был успешно <br />
			добавлен в корзину!
		</div>
	</div>
</div>

<div class="modal" id="search">
	<div class="modal__subtitle modal__subtitle_bold modal__subtitle_left">Поиск по сайту</div>
	<form action="" class="modal__search">
		<div class="input input_bottom-border"><input type="text" placeholder="поиск" /></div>
		<button class="btn-search">
			<svg><use href="./img/sprite.svg#search"></use></svg>
		</button>
	</form>
</div>
