<div class="numbers">
	<div class="section-decoration-title">наша страсть</div>
	<div class="container">
		<div class="section-uptitle">Мы любим</div>
		<div class="section-title">своё дело</div>
		<div class="numbers__row">
			<div class="numbers__item">
				<div class="numbers__item-title">
					150+
					<div class="numbers__item-icon numbers__item-icon_1">
						<svg><use href="./img/sprite.svg#motorcycle"></use></svg>
					</div>
				</div>
				<div class="numbers__item-text">
					Более 150 мотоциклов <br />
					в наличии
				</div>
			</div>
			<div class="numbers__item">
				<div class="numbers__item-title">
					27,3 <span>тыс.</span>
					<div class="numbers__item-icon numbers__item-icon_2">
						<svg><use href="./img/sprite.svg#youtube_2"></use></svg>
					</div>
				</div>
				<div class="numbers__item-text">Подписчиков с нами</div>
			</div>
			<div class="numbers__item">
				<div class="numbers__item-title">
					150+
					<div class="numbers__item-icon numbers__item-icon_3">
						<svg><use href="./img/sprite.svg#comment"></use></svg>
					</div>
				</div>
				<div class="numbers__item-text">
					Положительных <br />
					отзывов
				</div>
				<a href="./video-reviews.html" class="btn-primary btn-size-2 btn-red">
					Смотреть видео <br />
					отзывы
				</a>
			</div>
			<div class="numbers__item">
				<div class="numbers__item-title">
					500+
					<div class="numbers__item-icon numbers__item-icon_4">
						<svg><use href="./img/sprite.svg#bike"></use></svg>
					</div>
				</div>
				<div class="numbers__item-text">
					Проданные <br />
					мотоциклы в <a href="./about.html">архиве</a>
				</div>
			</div>
		</div>
	</div>
</div>
