<div class="question">
	<div class="container">
		<div class="question__heading">
			<div class="section-title">Вопросы (2)</div>
			<a href="./reviews.html" class="btn btn-primary btn-size-2 btn-border"> оставить вопрос</a>
		</div>
		<div class="question__item">
			<div class="question__item-heading">
				<div class="question__item-name">Ирина</div>
				<div class="question__item-date">(15.08.2021)</div>
			</div>
			<div class="question__item-text">
				Всем привет! После аварии в июне я задалась вопросом о покупке нового шлема. Так денег был не особо много, решила взять довольно
				бюджетный вариант
			</div>
		</div>
		<div class="question__item">
			<div class="question__item-heading">
				<div class="question__item-name">Ирина</div>
				<div class="question__item-date">(15.08.2021)</div>
			</div>
			<div class="question__item-text">
				Всем привет! После аварии в июне я задалась вопросом о покупке нового шлема. Так денег был не особо много, решила взять довольно
				бюджетный вариант
			</div>
		</div>
		<div class="question__item question__item_reply">
			<div class="question__item-heading">
				<div class="question__item-name question__item-name_reply">Менеджер MotoYard</div>
				<div class="question__item-date">(16.08.2021)</div>
			</div>
			<div class="question__item-text">Спасибо за отзыв! Будем рады помочь, в подборе новой экипировки и мотоцикла в вашем гараже!</div>
		</div>
	</div>
</div>
