<div class="store">
	<div class="section-decoration-title">Склад</div>
	<div class="container">
		<div class="section-uptitle">Наш</div>
		<div class="section-title">Склад</div>
	</div>
	<div class="owl-carousel">
		<div class="store__item">
			<img data-src="./img/webp/store-img-1.webp" alt="img" class="owl-lazy" />
		</div>
		<div class="store__item">
			<img data-src="./img/webp/store-img-2.webp" alt="img" class="owl-lazy" />
		</div>
		<div class="store__item">
			<img data-src="./img/webp/store-img-3.webp" alt="img" class="owl-lazy" />
		</div>
		<!--  -->
		<div class="store__item">
			<img data-src="./img/webp/store-img-4.webp" alt="img" class="owl-lazy" />
		</div>
		<div class="store__item">
			<img data-src="./img/webp/store-img-5.webp" alt="img" class="owl-lazy" />
		</div>
		<div class="store__item">
			<img data-src="./img/webp/store-img-6.webp" alt="img" class="owl-lazy" />
		</div>
	</div>
</div>
