<div class="blog-card">
	<a href="./article.html" class="blog-card__img">
		<img data-src="./img/webp/blog-card-@@img.webp" alt="img" class="lazy" src="./img/webp/error-placeholder.webp" />
		<div class="blog-card__date">13.05.2021</div>
	</a>
	<div class="blog-card__wrapper">
		<div class="blog-card__title">@@title</div>
		<div class="blog-card__text">@@text</div>
	</div>
	<a href="./article.html" class="btn-details btn-details_red">
		Подробнее
		<svg><use href="./img/sprite.svg#arrow"></use></svg>
	</a>
</div>
