<div class="cart-product-card">
	<div class="row middle-sm">
		<div class="col-xs-6 col-md-2 col-sm-2 col-lg-2 center-xs start-sm">
			<div class="cart-product-card__caption">Фото</div>
			<div class="cart-product-card__img">
				<img data-src="./img/webp/cart-product-@@img.webp" alt="img" class="lazy" />
			</div>
		</div>
		<div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 center-xs start-sm">
			<div class="cart-product-card__caption">Наименование</div>

			<a href="./product-page.html" class="cart-product-card__title">@@title</a>
		</div>
		<div class="col-xs-6 col-md-2 col-sm-2 col-lg-2 center-xs start-sm">
			<div class="cart-product-card__caption">Кол-во</div>

			<div class="quantity">
	<button class="decrement">-</button>
	<input type="text" disabled value="1" min="1" />
	<button class="increment">+</button>
</div>

		</div>
		<div class="col-xs-6 col-md-4 col-sm-4 col-lg-4 center-xs start-sm">
			<div class="cart-product-card__caption">Цена</div>

			<div class="cart-product-card__price">521 700 грн <b> | 18 500 $</b></div>
		</div>
	</div>
	<button class="btn-delete">
		<svg><use href="./img/sprite.svg#cross"></use></svg>
	</button>
</div>
