<ul class="pagination">
	<li>
		<a href="#" class="pagination__item pagination__item-prev">
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</li>
	<li>
		<a href="#" class="pagination__item">1</a>
	</li>
	<li>
		<a href="#" class="pagination__item">2</a>
	</li>
	<li class="active">3</li>
	<li>
		<a href="#" class="pagination__item">4</a>
	</li>
	<li>
		<a href="#" class="pagination__item">5</a>
	</li>
	<li>
		<a href="#" class="pagination__item">6</a>
	</li>
	<li>
		<a href="#" class="pagination__item pagination__item-next">
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</li>
</ul>
