<div class="product-carousel">
	<div class="section-decoration-title">@@decoration-title</div>
	<div class="container">
		<div class="section-uptitle">@@uptitle</div>
		<div class="section-title">@@title</div>
		<div class="owl-carousel">
			<div class="product-card  ">
	<div class="product-card__img">
		<img src="./img/webp/product-card-1.webp" alt="img" />
		<div class="stickers">
	<div class="stickers__item stickers__item_red">Новинка</div>
	<div class="stickers__item stickers__item_orange">Скидка 5%</div>
</div>
 <a href="./reviews-article.html" class="product-card__video-reviews">
	Видеообзор
	<svg><use href="./img/sprite.svg#youtube"></use></svg>
</a>

	</div>
	<a href="./product-page.html" class="product-card__title">Harley-Davidson Road Glide</a>
	<div class="product-card__description">
		<div class="product-card__key">Год выпуска:</div>
		<div class="product-card__value">2016</div>
		<div class="product-card__key">Двигатель:</div>
		<div class="product-card__value">1745</div>
		<div class="product-card__key">Пробег:</div>
		<div class="product-card__value">3608 ml</div>
		<div class="product-card__key">Марка:</div>
		<div class="product-card__value">Harley Davidson</div>
		<div class="product-card__key">Тип:</div>
		<div class="product-card__value">Туристические</div>
		<div class="product-card__key">Объем двигателя:</div>
		<div class="product-card__value">от 751 кубов и более</div>
	</div>
	<div class="product-card__bottom">
		<div class="product-card__price ">
			<div class="product-card__price-uah">521 700 грн</div>
			<div class="product-card__price-usd">18 500 $</div>
		</div>
		<a href="./product-page.html" class="product-card__details">
			Подробнее
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</div>
</div>

			<!--  -->
			<div class="product-card  ">
	<div class="product-card__img">
		<img src="./img/webp/product-card-2.webp" alt="img" />
		<div class="stickers">
	<div class="stickers__item stickers__item_red">Новинка</div>
</div>
 
	</div>
	<a href="./product-page.html" class="product-card__title">Harley-Davidson Road Glide</a>
	<div class="product-card__description">
		<div class="product-card__key">Год выпуска:</div>
		<div class="product-card__value">2016</div>
		<div class="product-card__key">Двигатель:</div>
		<div class="product-card__value">1745</div>
		<div class="product-card__key">Пробег:</div>
		<div class="product-card__value">3608 ml</div>
		<div class="product-card__key">Марка:</div>
		<div class="product-card__value">Harley Davidson</div>
		<div class="product-card__key">Тип:</div>
		<div class="product-card__value">Туристические</div>
		<div class="product-card__key">Объем двигателя:</div>
		<div class="product-card__value">от 751 кубов и более</div>
	</div>
	<div class="product-card__bottom">
		<div class="product-card__price ">
			<div class="product-card__price-uah">521 700 грн</div>
			<div class="product-card__price-usd">18 500 $</div>
		</div>
		<a href="./product-page.html" class="product-card__details">
			Подробнее
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</div>
</div>

			<!--  -->
			<div class="product-card  ">
	<div class="product-card__img">
		<img src="./img/webp/product-card-3.webp" alt="img" />
		<div class="stickers">
	<div class="stickers__item stickers__item_red">Новинка</div>
	<div class="stickers__item stickers__item_orange">Скидка 5%</div>
</div>
 <a href="./reviews-article.html" class="product-card__video-reviews">
	Видеообзор
	<svg><use href="./img/sprite.svg#youtube"></use></svg>
</a>

	</div>
	<a href="./product-page.html" class="product-card__title">Harley-Davidson Road Glide</a>
	<div class="product-card__description">
		<div class="product-card__key">Год выпуска:</div>
		<div class="product-card__value">2016</div>
		<div class="product-card__key">Двигатель:</div>
		<div class="product-card__value">1745</div>
		<div class="product-card__key">Пробег:</div>
		<div class="product-card__value">3608 ml</div>
		<div class="product-card__key">Марка:</div>
		<div class="product-card__value">Harley Davidson</div>
		<div class="product-card__key">Тип:</div>
		<div class="product-card__value">Туристические</div>
		<div class="product-card__key">Объем двигателя:</div>
		<div class="product-card__value">от 751 кубов и более</div>
	</div>
	<div class="product-card__bottom">
		<div class="product-card__price ">
			<div class="product-card__price-uah">521 700 грн</div>
			<div class="product-card__price-usd">18 500 $</div>
		</div>
		<a href="./product-page.html" class="product-card__details">
			Подробнее
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</div>
</div>

			<!--  -->
			<div class="product-card  ">
	<div class="product-card__img">
		<img src="./img/webp/product-card-4.webp" alt="img" />
		 <a href="./reviews-article.html" class="product-card__video-reviews">
	Видеообзор
	<svg><use href="./img/sprite.svg#youtube"></use></svg>
</a>

	</div>
	<a href="./product-page.html" class="product-card__title">Honda CB400 SF</a>
	<div class="product-card__description">
		<div class="product-card__key">Год выпуска:</div>
		<div class="product-card__value">2016</div>
		<div class="product-card__key">Двигатель:</div>
		<div class="product-card__value">1745</div>
		<div class="product-card__key">Пробег:</div>
		<div class="product-card__value">3608 ml</div>
		<div class="product-card__key">Марка:</div>
		<div class="product-card__value">Harley Davidson</div>
		<div class="product-card__key">Тип:</div>
		<div class="product-card__value">Туристические</div>
		<div class="product-card__key">Объем двигателя:</div>
		<div class="product-card__value">от 751 кубов и более</div>
	</div>
	<div class="product-card__bottom">
		<div class="product-card__price ">
			<div class="product-card__price-uah">521 700 грн</div>
			<div class="product-card__price-usd">18 500 $</div>
		</div>
		<a href="./product-page.html" class="product-card__details">
			Подробнее
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</div>
</div>

			<!--  -->
			<div class="product-card  ">
	<div class="product-card__img">
		<img src="./img/webp/product-card-5.webp" alt="img" />
		<div class="stickers">
	<div class="stickers__item stickers__item_red">Новинка</div>
</div>
 
	</div>
	<a href="./product-page.html" class="product-card__title">Yamaha Drag Star 1100</a>
	<div class="product-card__description">
		<div class="product-card__key">Год выпуска:</div>
		<div class="product-card__value">2016</div>
		<div class="product-card__key">Двигатель:</div>
		<div class="product-card__value">1745</div>
		<div class="product-card__key">Пробег:</div>
		<div class="product-card__value">3608 ml</div>
		<div class="product-card__key">Марка:</div>
		<div class="product-card__value">Harley Davidson</div>
		<div class="product-card__key">Тип:</div>
		<div class="product-card__value">Туристические</div>
		<div class="product-card__key">Объем двигателя:</div>
		<div class="product-card__value">от 751 кубов и более</div>
	</div>
	<div class="product-card__bottom">
		<div class="product-card__price ">
			<div class="product-card__price-uah">394 240 грн</div>
			<div class="product-card__price-usd">14 000 $</div>
		</div>
		<a href="./product-page.html" class="product-card__details">
			Подробнее
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</div>
</div>

		</div>
	</div>
</div>
