<div class="product-card @@modifier">
	<div class="product-card__img">
		<img data-src="./img/webp/product-card-@@img.webp" alt="img" class="lazy" src="./img/webp/error-placeholder.webp" />
		@@stickers @@videoreviews
	</div>
	<a href="./product-page.html" class="product-card__title">@@title</a>
	<div class="product-card__description">
		<div class="product-card__key">Год выпуска:</div>
		<div class="product-card__value">2016</div>
		<div class="product-card__key">Двигатель:</div>
		<div class="product-card__value">1745</div>
		<div class="product-card__key">Пробег:</div>
		<div class="product-card__value">3608 ml</div>
		<div class="product-card__key">Марка:</div>
		<div class="product-card__value">Harley Davidson</div>
		<div class="product-card__key">Тип:</div>
		<div class="product-card__value">Туристические</div>
		<div class="product-card__key">Объем двигателя:</div>
		<div class="product-card__value">от 751 кубов и более</div>
	</div>
	<div class="product-card__bottom">
		<div class="product-card__price @@modifier-price">
			<div class="product-card__price-uah">@@price-uah</div>
			<div class="product-card__price-usd">@@price-usd</div>
		</div>
		<a href="./product-page.html" class="product-card__details">
			Подробнее
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</div>
</div>
