<div class="recommendation-card">
	<div class="recommendation-card__img">
		<img src="./img/webp/recommendation-img-@@img.webp" alt="img" />
	</div>
	<div class="recommendation-card__text">
		<div class="recommendation-card__title">@@title</div>
		<div class="recommendation-card__price">
			<div class="recommendation-card__price-uah">@@price-uah</div>
			<div class="recommendation-card__price-usd">@@price-usd</div>
		</div>
		<a href="./product-page.html" class="recommendation-card__details">
			Подробнее
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</div>
</div>
