<div class="recommendation-card">
	<div class="recommendation-card__img">
		<img src="./img/recommendation-img-1.jpg" alt="img" />
	</div>
	<div class="recommendation-card__text">
		<div class="recommendation-card__title">Harley-Davidson Road Glide</div>
		<div class="recommendation-card__price">
			<div class="recommendation-card__price-uah">521 700 грн</div>
			<div class="recommendataion-card__price-usd">18 500 $</div>
		</div>

		<a href="#" class="recommendation-card__details">
			Подробнее
			<svg><use href="./img/sprite.svg#arrow"></use></svg>
		</a>
	</div>
</div>
