<div class="reviews-card">
	<div class="reviews-card__date">02.08.2021</div>
	<div class="reviews-card__name">Алексей</div>
	<div class="reviews-card__text">
		Вот, товарищи мотоциклисты, купил себе Триумф Боневиль!) давно хотел, но не получалось. Попросил ребят из Мото Yard подождать.
		Подождали!) Мотоцикл привезли прямо под офис!) Как договаривались - так все и сделали. Мотык обслужили и даже на учёт поставили. В
		общем, спасибо за выполнение своих обязательств в четко установленные сроки. Считаю сделку состоявшейся и благодарю за порядочность!
		Желаю здоровья, реализацию творческих планов и удачи во всем! С уважением, Сергей из Одессы.
	</div>
</div>
