<div class="stars">
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item">
		<svg><use href="./img/sprite.svg#star_full"></use></svg>
	</div>
	<div class="stars__item stars__item_empty">
		<svg><use href="./img/sprite.svg#star_empty"></use></svg>
	</div>
</div>
