<div class="video-reviews__item">
	<div class="video-reviews__item-preview">
		<img src="./img/webp/video-reviews-@@img.webp" alt="img" />
		<a href="#" class="btn-play btn-play_small">
			<svg><use href="./img/sprite.svg#youtube"></use></svg>
		</a>
	</div>
	<a href="./reviews-article.html" class="video-reviews__item-title">@@title</a>
	<a href="./reviews-article.html" class="btn-details btn-details_red">
		Смотреть видео-обзор
		<svg><use href="./img/sprite.svg#arrow"></use></svg>
	</a>
</div>
