<div class="reviews-carousel">
	<div class="section-decoration-title">Отзывы</div>
	<div class="container">
		<div class="section-uptitle">вы уже</div>
		<div class="section-title">Просматривали</div>
		<div class="owl-carousel">
			<div class="video-reviews__item">
	<div class="video-reviews__item-preview">
		<img src="./img/webp/video-reviews-1.webp" alt="img" />
		<a href="#" class="btn-play btn-play_small">
			<svg><use href="./img/sprite.svg#youtube"></use></svg>
		</a>
	</div>
	<a href="./reviews-article.html" class="video-reviews__item-title">Harley-Davidson Road Glide</a>
	<a href="./reviews-article.html" class="btn-details btn-details_red">
		Смотреть видео-обзор
		<svg><use href="./img/sprite.svg#arrow"></use></svg>
	</a>
</div>

			<div class="video-reviews__item">
	<div class="video-reviews__item-preview">
		<img src="./img/webp/video-reviews-2.webp" alt="img" />
		<a href="#" class="btn-play btn-play_small">
			<svg><use href="./img/sprite.svg#youtube"></use></svg>
		</a>
	</div>
	<a href="./reviews-article.html" class="video-reviews__item-title">Suzuki GSX-600R</a>
	<a href="./reviews-article.html" class="btn-details btn-details_red">
		Смотреть видео-обзор
		<svg><use href="./img/sprite.svg#arrow"></use></svg>
	</a>
</div>

			<div class="video-reviews__item">
	<div class="video-reviews__item-preview">
		<img src="./img/webp/video-reviews-3.webp" alt="img" />
		<a href="#" class="btn-play btn-play_small">
			<svg><use href="./img/sprite.svg#youtube"></use></svg>
		</a>
	</div>
	<a href="./reviews-article.html" class="video-reviews__item-title">Эндуро в Карпатах - kawasaki klx</a>
	<a href="./reviews-article.html" class="btn-details btn-details_red">
		Смотреть видео-обзор
		<svg><use href="./img/sprite.svg#arrow"></use></svg>
	</a>
</div>


			<!--  -->
			<div class="video-reviews__item">
	<div class="video-reviews__item-preview">
		<img src="./img/webp/video-reviews-2.webp" alt="img" />
		<a href="#" class="btn-play btn-play_small">
			<svg><use href="./img/sprite.svg#youtube"></use></svg>
		</a>
	</div>
	<a href="./reviews-article.html" class="video-reviews__item-title">Suzuki GSX-600R</a>
	<a href="./reviews-article.html" class="btn-details btn-details_red">
		Смотреть видео-обзор
		<svg><use href="./img/sprite.svg#arrow"></use></svg>
	</a>
</div>

		</div>
	</div>
</div>
